@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Linear+B&display=swap');
*{
    padding: 0;
    margin: 0%;
}
body{
    background-color: rgb(19, 19, 19);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: rgb(245, 193, 125);
    font-family: 'Crimson Text', serif;
}
html{
    scroll-behavior: smooth;
}
nav{
    background:rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
}
nav ul {
    list-style-type: none;
    display: flex;
    padding: 10px;
    justify-content: center;
    padding-top: 12px;
    margin-left: 70px; 
}
nav li {
    margin-right: 40px;
}
nav a {
    text-decoration: none;
    padding: 10px;
    color:  rgb(243, 199, 149);
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
}
nav a:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
}
.menu{
    /* background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.8)), url("images/dishes.jpg"); */
    text-align: center;
    font-size: 3rem;
    padding-top: 130px;
    color: rgb(243, 199, 149);
    background-size:contain;
    height: 100vh;  
}
.col-1 p{
    text-align: center;
    padding-top: 10px;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    color: whitesmoke;
    font-family: 'Dancing Script', cursive;
}
.col-1 a{
    color: rgb(243, 199, 149);
    text-decoration: none;
    padding: 6px;
    font-size: 11px;
    border: .1px solid rgb(243, 199, 149);
    letter-spacing: .1rem;
}
.col-1{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.list img{
    border-radius: 10px;
}
.menu .name{
 
    text-align: center;
    margin-bottom: 5%;
    font-size: 4rem;
}
.ingredients ul li{
    list-style-type: none;
    margin-left: 5%;
    color:rgb(253, 250, 247);
    font-size: 1rem;
    font-family: 'Noto Sans Linear B', sans-serif;
    padding: 5px;
}
.ingredients p{
    margin-left: 3%;
    margin-bottom: 1%;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    letter-spacing: .1rem;
}
.desc p{
    font-size: 1.1rem;
    font-family: 'Noto Sans Linear B', sans-serif;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 7%;
    margin-right:7% ;
    color: whitesmoke;
}
.process p{
    font-family: 'Dancing Script', cursive;
    font-size: 1.7rem;
    text-align: center;  
}
.marinate p{
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    margin-bottom: 1%;
    text-align: left;
}
.marinate ol li{
    font-family: 'Noto Sans Linear B', sans-serif;
}
.ingredient{
    display: flex;
    justify-content: space-evenly;
}
.ingre2{
    margin-left: 70px;
}
video{
    background: linear-gradient(0,0,0,0.9);   
}
.vid{
    display: flex;
}
.chicken{
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.7)), url("images/cola.jpg");
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.chicken .title p{
    font-family: 'Dancing Script', cursive;
    padding-top: 75px;
    text-align: center;
    font-size: 3.2rem;
    letter-spacing: .1rem;
}
.rolls{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.9)), url("images/orange\ juice.jpg");
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.rolls .title p{
    font-family: 'Dancing Script', cursive;
    padding-top: 75px;
    text-align: center;
    font-size: 3.2rem;
    letter-spacing: .1rem;
}
.rings{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)), url("images/oreo\ shake.jpg");
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.rings .title p{
    font-family: 'Dancing Script', cursive;
    padding-top: 75px;
    text-align: center;
    font-size: 3.2rem;
    letter-spacing: .1rem;
}
.samosa{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.9)), url("images/papaya\ juice.jpg");
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.samosa .title p{
    font-family: 'Dancing Script', cursive;
    padding-top: 75px;
    text-align: center;
    font-size: 3.2rem;
    letter-spacing: .1rem;
}