
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Fuggles&family=Oswald:wght@300;400&family=Poiret+One&family=Roboto+Condensed&family=Space+Grotesk:wght@500&display=swap');
*{
    margin:0;
    padding: 0%;
}
html{
    scroll-behavior: smooth;
}
body{
    
    font-family: 'Oswald', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
}
.navi ul{
    display: flex;
    justify-content:left;
    list-style-type: none; 
    margin-left:0%;
}
.navi ul li a {
   list-style-type: none; 
   text-decoration: none;
   color:  rgb(235, 66, 66);
   font-family: 'Poiret One', cursive;
   font-size: 1.15rem;
   font-weight: bold;
   margin-left: 50px;
   transition:ease-in-out .3s;
   
} 
.navi ul li a:hover{
    color:#a80b0b;
    text-decoration: underline  #a80b0b;
}
.right-navi a {
    list-style-type: none; 
    text-decoration: none;
    color: white;
    /* font-family: 'Poiret One', cursive; */
    font-size: .9rem;
    font-weight: bold;
    padding: 8px;
    background-color: rgb(235, 66, 66);
    transition:ease-in .2s;
    
 } 
 .right-navi a:hover{
    background-color:#a80b0b;
 }
 .right{
    display:flex;
    margin-right: 50px;
    justify-content: space-evenly;
 }
.img{
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("images/bg3.jpg");
    width:100%;
    height:470px;
    background-size: cover;
    background-repeat: no-repeat;
}
/* @media (max-width: 991px) {
  {
      width: 50%;
  }
  .desc{
    font-size: 1rem;
  }

} */
.desc{
    font-family: 'Oswald', sans-serif;
    color:  #d10e0e;
    font-size: 2.3rem;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 13px; 
    margin-bottom: 3%;  
}
.head{
    font-family: 'Oswald', sans-serif;
    color:  #d10e0e;
    font-size: 2.3rem;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 13px;   
}
.link-icon{
    display: flex;
    justify-content: center;
    margin-left: 20px;
}
.link-icon i{
    padding: 10px 5px;
    color: rgb(235, 66, 66);
    transition: linear .2s;
}

.link-icon .facebook a i:hover{
    color:  #1a6fd1;
    
}
.link-icon .instagram a i:hover{
    color:  #ffae00;
    
}
.link-icon .pinterest a i:hover{
    color:  #ff0037;
    
}
@media screen and (max-width: 800px) {
    nav, .right-navi, .img, .desc, .link-icon  {
      width: 100%;
    }
}
.about{
    display: flex;
    justify-content: space-evenly;
}
.left-about{
    margin:10px 5%
}
.right-about img{
    border-top-left-radius: 200px ;
    border-bottom-left-radius: 200px ;
}
.heads{
    padding: 30px 0px;
}
@media screen and (max-width: 991px){
.about{
   display:inline;
}
.about img{
height:500px;
width:400px;
padding:0 4rem;
}
}
.services{
    display: flex;
    justify-content: space-evenly;
}
.img__wrap {
    position: relative;
    height: 510px;
    width: 275px;
    
  }
  
  .img__description {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(156, 39, 39, 0.72);
    border-radius: 20px;
    color:white; 
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    font-size: 2.8rem;
    padding-top: 70%;
  }
  
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  }
.img_view  {
   text-decoration: none;
   margin-left: 80px; 
   border:1px solid #a80b0b;
   background-color: #a80b0b;
   padding: 5px 10px;
   color:aliceblue;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 15px;
   transition: ease-in-out .2s;
}
.img-view  :hover{
    background-color:#d82121;
    border-color:aliceblue;
}
@media (max-width: 991px) {
  .services{
      display: inline;
  }

  .services .img__wrap{
    margin: 0 8rem;
    margin-bottom: 5rem;
  }

}
.review{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 0rem;
  }
  @media (max-width: 991px) {
    .review{
      padding: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
  
  
  }
  .review .box {
    border-radius: 2rem;
    background:#e43a3a;
    padding: 1rem;
    position: relative;
    margin: 10px 0px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .review .box .fa-star{
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: black;
    font-size: 2rem;
  }
  
  .review .box .user {
    display: flex;
    align-items: center;
    gap: .1rem;
   
  }
  
  .review .box .user img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .review .box .user h3 {
    font-size: 2rem;
    color: #fff;
  }
  
  .review .box .user span {
    font-size: 1.5rem;
    color: #eee;
  }
  
  .review .box p {
    line-height: 1.5;
    color: #eee;
    padding: 0.5rem 0;
    font-size: 1.3rem;
  }
  @media (max-width: 991px) {
    .review .box .user h3{
      font-size: 1.3rem;
    }
    .review .box p{
       font-size: .6rem;
    }
    .review .box .user img{
      width:3rem;
      height:3rem;
    }
    .review .box .fa-star{
      font-size: .6rem;
    }
  
  }
  
  .contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-left: 12%;
  }
  
  .contact form .inputBox {
    display: flex;
    justify-content: space-between;
    width:70%;
    margin-left: 12%;
  }
  
  .contact form .inputBox input,
  .contact form textarea {
    width: 60%;
    background: #333;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.7rem 0;
    font-size: 1.5rem;
    color: #fff;
    text-transform: none;
  }
  
  .contact form .inputBox input::placeholder,
  .contact form textarea::placeholder {
    color: #eee;
    text-transform: capitalize;
  }
  
  .contact form .inputBox input:focus,
  .contact form textarea:focus {
    background: #444;
  }
  
  .contact form .inputBox input {
    width: 49%;
  }
  
  .contact form textarea {
    resize: none;
  }
  .contact form input[submit]{
      list-style-type: none; 
      text-decoration: none;
      color: white;
      /* font-family: 'Poiret One', cursive; */
      font-size: .9rem;
      font-weight: bold;
      padding: 8px;
      background-color: rgb(235, 66, 66);
      transition:ease-in .2s;
      
   } 
   .contact form input[submit] :hover{
      background-color:#a80b0b;
   } 